.board {
    max-width: 300px;
    margin: 0 auto;
    }
    
    .square {
    height: 80px;
    width: 80px;
    font-size: 24px;
    background-color: #f0f0f0;
    border: 1px solid #1b0000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    }
    
    #winner {
    background-color: #009100;
    width: 900px;
    }